# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.tmp
*.log

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Other
.DS_Store
Thumbs.db
